:root{
  --header-background:#ff99cc;
  --header-dark: #cc0066;
}
*{
  padding: 0;
  margin: 0;
}
html{
  font-family: Sans-Serif;
  color: #232323;
}
#header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--header-background);
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
}

#header h1{
  font-weight: 800;
  margin: 0px 30px;
}
#nav-bar{
  height: 75px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 2;
  align-content: center;
}

#nav-bar a{
  text-decoration: none;
  font-size: 1.1em;
  padding: 10px;
  color: #232323;
  transition: 0.3s;
}
#nav-bar a:hover{
  background-color: var(--header-dark);
}

.section-wrap{
  margin: 0 auto 10px auto;
  max-width: 800px;
  padding: 35px 45px;
}

.section-header, .sub-section-header{
  color: var(--header-dark);
  margin-bottom: 20px;
}
.about {
  padding-top: 100px;
}

.about ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:var(--header-dark); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 01em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.about ul{
  margin: 20px 0px; 
}

.about li{
  display: block;
  list-style: none;
  margin: 5px 20px; 
}
.about li a{
  text-decoration: none;
  color: var(--header-dark);
}
.about li a:hover{
  
  color: var(--header-background);
}
.contact-info label{
  display: inline-block; 
  width: 55px; 
}
.contact-info input{
  display: inline-block;
  width:100%;
  max-width: 200px;
  margin-bottom: 5px;
}
.contact-block{
  margin-top: 10px;
}
.text-input textarea{
  padding: 5px;
  width:100%;
  max-width: 261px;
  display: inline-block;
  margin-top: 5px;
}
.contact input[type=text],.contact input[type=email]{
  padding: 5px;
  color: #ffe6f2;
}
.contact input[type=submit]{
    color: #ededed;

    padding:5px 15px; 
    background:var(--header-dark); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ff66b3;
  opacity: 1; /* Firefox */
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0px;
}

.gallery img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.gallery::after {
  content: "";
  width: 350px;
}

.video-wrapper{
  width: 100%;
  height: 100%;
  max-width: 450;
  max-height: 315;
}
.video-wrapper iframe{
  width: 100%;
  height: 100%;
}
@media(max-width: 768px){
 
  #header{ 
    height: auto;  flex-direction: column;
  }
  #nav-bar{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  flex-grow: 2;
  height:auto;
  align-content: center;
}

#nav-bar a{
  text-decoration: none;
  color: #232323;
  transition: 0.3s;
}
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
